.navbar {
    position: absolute;
    width: 80px;
    min-height: 100vh;
    background: linear-gradient(45deg, #2196f3, #e91e63);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navbar ul li a {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}


.navbar ul li a .icon {
    position: relative;
    display: block;
    width: 75px;
    transition: 0.5s;
}

.navbar ul li:hover a .icon {
    transform: translateX(32px);
}

.navbar ul li a .text {
    /* position: absolute; */
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    transform: translateX(20px);
}

