@import url("./navbar.css");
@import url("./scrollbar.css");
@import url("./dashboard.css");

input {
    color: #fff;
}

label.required::after, div.required::after {
    color: red;
    content: ' *';
    display: inline;
    font-size: large;
}