body {
  margin: 0;
}

.main-content {
  margin-left: 80px; /* Adjust this value based on your navbar width */
  padding: 20px; /* Add padding to the main content */
  /* max-height: 70vh; */
  /* overflow-y: auto; */
}
